@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <image src="demo.jpg"></image>
    <p>Test your digital identity with
        <a href="/login">Login</a> | <a href="/Sign">Sign</a> or download the documentation <a target="_blank" href="https://www.twoday.se/hubfs/Ciceron/TS%20REST%20API.pdf">here</a>
    </p>
</div>