@page
@model Demo.Pages.LoginModel
@{
	ViewData["Title"] = "Ciceron";
}
@{
	<div class="text-center">
		<image src="user.jpg"></image>

		<p>@Model.Message</p>
		<P><a href="/Index">Restart the demo</a></P>
	</div>
}
